@import "../../variables";

.end-score-board {
  font-family: Gotham;
  color: white;
  text-transform: uppercase;
  .game-no {
    font-size: 46px;
    font-weight: 500;
  }
  .end-score {
    font-size: 60px;
    font-weight: 500;
  }
  .new-high {
    font-size: 19px;
    font-weight: normal;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .play-again {
    color: $font-color;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    font-size: 34px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    img {
      margin-right: 25px;
    }
  }
}
